.agbalumo-regular {
  font-family: "Agbalumo", cursive !important;
}
 
.sansTitle {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 80px; /* 把字放超大，圓角才會現形 */
  font-variation-settings:
    "wght" 1000,   /* 粗度拉滿 */
    "wdth" 150,    /* 寬度拉滿 */
    "ROND" 100,    /* 圓角拉滿 */
    "GRAD" 0,
    "slnt" 0;
  
  -webkit-font-smoothing: antialiased;
}
.sansTeg {
  font-family: "Google Sans Flex", sans-serif;
  font-variation-settings:
    "wght" 1000,   /* 粗度拉滿 */
    "wdth" 70,    /* 寬度拉滿 */
    "ROND" 100,    /* 圓角拉滿 */
    "GRAD" 0,
    "slnt" 0;
  
  -webkit-font-smoothing: antialiased;
}

.zen-maru-gothic-light {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zen-maru-gothic-black {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.tilt-warp {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 45;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -0.5px;
}
