.bg-line{
    background-image: 
    repeating-linear-gradient(
        to right, 
        transparent  0 50px, 
        $info -2px 51px
    ),
    repeating-linear-gradient(
        to top, 
        transparent  0px 50px, 
        $info 0px 51px
    )
}

.bg-line-success{
    background-image: 
    repeating-linear-gradient(
        to right, 
        transparent  0 50px, 
        $pb-ink -2px 51px
    ),
    repeating-linear-gradient(
        to top, 
        transparent  0px 50px, 
        $pb-ink 0px 51px
    )
}

.cta-glow-shadow {
  animation: glowShadow 1.0s ease-in-out infinite;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.cta-glow-shadow:hover{
    transform: translateY(-1px);
}

@keyframes glowShadow {
  0% {
    box-shadow: 0 0 0 rgba(25, 135, 84, 0);
  }
  50% {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.45),
              0 0 1px rgba(255, 255, 255, 0.24);
}
  100% {
    box-shadow: 0 0 0 rgba(25, 135, 84, 0);
  }
}

